nav {
    background-color: #3b0099;
  }
  #button {
    background-color: #3b0099;
    border: #3b0099;
    margin-top: 8px;
    font-size: 80%;
  }
  footer {
    padding-left: 8px;
    color: white;
    background-color: #3b0099;
  }
  
  .card-img-top {
    width: 100%;
    height: 30vh;
    object-fit: cover;
  }
  #delivery {
    color: blue;
  }
  
  #boxOffice {
    color: #3b0099;
    font-size: 130%;
  }
  #genre,
  #launch {
    font-size: 80%;
    margin-top: 3px;
    display: inline;
  }
  
  #date {
    font-size: 80%;
  }
  
  #freedelivery {
    margin: 0;
  }
  
  #menu_items_container {
    margin-top: 40px;
  }
  .jumbotron {
    padding: 10em inherit;
    background-image: url("https://d2v9y0dukr6mq2.cloudfront.net/video/thumbnail/V7QIfdTcgikqxmxok/cinema-background_vzw7c2tqe__F0000.png");
    background-size: cover;
  }
  #searchtext {
    color: white;
    font-weight: bold;
  }
  .card-title {
    margin-bottom: 0;
  }
  
  .delivery {
    color: blue;
    vertical-align: middle;
    padding-bottom: 3px;
  }
  
  .vertical{
    vertical-align: middle;
    padding-bottom: 3px;
  }
  
  #addtocart,
  #edit {
    font-size: 18px;
    vertical-align: middle;
    padding-bottom: 3px;
  }
  
  #launchicon {
    color: grey;
    font-size: 20px;
    vertical-align: middle;
    padding-bottom: 3px;
  }
  
  @media (min-width: 576px) {
    #card-columns {
      column-count: 1;
      -webkit-column-count: 1;
      -moz-column-count: 1;
    }
    
    
  }
  
  @media (min-width: 768px) {
    #card-columns {
      column-count: 2;
      -webkit-column-count: 2;
      -moz-column-count: 2;
    }
    
    
  }
  
  @media (min-width: 992px) {
    #card-columns {
      column-count: 4;
      -webkit-column-count: 4;
      -moz-column-count: 4;
    }
   
  }
  
  
  
  #edit_menu_item_form,#edit_movie_form{
    margin: 10px;
  }
  
  #card-header{
    background-color: #ffffff;
    font-size: 120%;
    font-weight: bold
  }
  
  #cart_card{
    width: 20rem;
  }
  
  #total_cart{
    font-size: 150%;
  }
  
  #price_cart{
    color: #ff0000;
  }
  
  #cart_deleted_alert{
    width: 20rem;
  }
  
  #signup_card{
    
  }
  #login_card{
    width:20rem;
  }
  
  #addtocart_alert{
    width: 100%;
  
  }
  
  #login_alert{
    color:red;
  }
  
  #edit_alert{
    color:red;
  }